.container-top {
  background-color: #E4F9F5;
  margin: 0;
  }

.container-mid {
  background-color: red;
  height: 200px;
  width: 200px;
}

.container-bot {
  background-color: blue;
  height: 200px;
  width: 200px;
}


body{
  margin: 0;
}

h1 {
  margin: 0;
}

.developer{
  text-decoration: underline;
}
