body {
  text-align: center;
  margin: 0;
  font-family: "Merriweather", serif;
}

h1 {
  font-size: 5.625rem;
  margin-top: 50px;
  font-family: "Sacramento", cursive;
}

h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
}

h3 {
  font-family: "Montserrat", sans-serif;
}

.container-top {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.container-mid {

}

.container-bot {
 
}

.developer {
  text-decoration: underline;
}

.cloud-bottom {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.cloud-top {
  position: absolute;
  top: 50px;
  right: 300px;
}
